.mt-5 {
	margin-top: 10px;
  }
  .mb-5 {
	margin-bottom: 10px;
  }

  .VueXlsx {
	background-color: antiquewhite;
	height: 105vh;
	padding: 50px;
  }
  .table {
	border: 3px groove midnightblue;
	border-radius: 5px;
	font-size: larger;
  }
  .table th {
	border-right: 1px groove black;
	padding: 5px;
  }
  .table th:last-child {
	border-right: none;
  }
  .table td {
	border-bottom: 1px groove black;
	border-right: 1px groove black;
	padding: 5px;
  }
  .table td:last-child {
	border-right: none;
  }
  .table tr:first-child td {
	border-top: 1px solid black;
  }
  .table tr:last-child td {
	border-bottom: none;
  }

  /* Button style */
  .button-77 {
	background-color: #c2fbd7;
	border-radius: 100px;
	box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset,
	  rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px,
	  rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px,
	  rgba(44, 187, 99, 0.15) 0 16px 32px;
	color: green;
	cursor: pointer;
	display: inline-block;
	font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
	font-weight: bold;
	padding: 7px 20px;
	text-align: center;
	text-decoration: none;
	transition: all 250ms;
	border: 0;
	font-size: 16px;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
  }

  .button-77:hover {
	box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset,
	  rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
	  rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
	  rgba(44, 187, 99, 0.25) 0 16px 32px;
	transform: scale(1.05) rotate(-1deg);
  }
  .select-sheet {
	height: 30px;
	padding: 5px;
	font-weight: bold;
	border: 2px solid cadetblue;
	border-radius: 5px;
  }